extends layout

block content
  h1#header ChainChat

  div#chatview

  div#sendview
    textarea(id="chatinput", placeholder="Enter message...")
    button#send <i class="material-icons md-48">send</i>
    