html, body  {
  height: 100%;
  width: 100%;
  background-image: url(/images/chatbg.png);
}

#header {
  padding-left: 40px;
  height: 8%;
  min-height: 50px;
  background-color: #006699;
  color: white;
  font-size: 40px;
  line-height: 80px;
}

.initial {
  background-position: center;
  text-align: center;
  width: 24px;
  height: 22px;
  border-radius: 50%;
  color: white;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  padding-top: 2px;
}

.para {
  margin-bottom: 5px;
}

/* Background pattern from subtlepatterns.com */
#chatview {
  height: 80%;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.6);
  margin: 0px auto 0px auto;
  padding-left: 20px;
  padding-right: 20px;
  word-wrap: break-word;
  border-radius: 20px;
  box-sizing: border-box;
  border: 1px solid #bbb;
  min-height: 100px;
  min-width: 1000px;
  overflow: auto;
}

#sendview {
  height: 10%;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.6);
  margin: 0px auto 0px auto;
  border-radius: 20px;
  box-sizing: border-box;
  border: 1px solid #bbb;
  min-height: 100px;
  min-width: 1000px;
}

#chatinput {
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0);
  margin: 0px;
  padding: 20px;
  float: left;
  width: 90%;
  height: 100%;
  overflow: none;
  outline: none;
  resize: none;
  border: none;
  border-radius: 20px;
}

#send {
  padding: 0px;
  margin: 0px;
  text-align: center;
  background-color: #006699;
  color: white;
  outline: none;
  overflow: none;
  border: none;
  width: 10%;
  height: 100%;
  border-radius: 20px;
}

#send:hover {
  background-color: rgba(255, 255, 255, 0);
}

#send:hover > .material-icons.md-48 {
  color: #006699;
}

#send:active {
  background-color: rgba(150, 150, 150, 1);


}
.material-icons.md-48 {
  font-size: 48px;
}

a {
  color: #00B7FF;
}
