html, body  {
  height: 100%;
  width: 100%;
}

#header {
  padding-left: 40px;
  height: 5%;
  min-height: 50px;
  line-height: 150%;
  background-color: #006699;
  color: white;
  font-size: 200%;
}

#chatview {
  height: 75%;
}

#sendview {
  height: 20%;
  background-color: #eee;
}

#chatinput {
  margin: 0px;
  float: left;
  width: 90%;
  height: 100%;
  background-color: #eee;
  border: none;
  overflow: auto;
  outline: none;
  resize: none;
}

#send {
  padding: 0px;
  margin: 0px;
  background-color: #006699;
  color: white;
  outline: none;
  overflow: none;
  width: 9%;
  height: 100%;

}

a {
  color: #00B7FF;
}
